@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

@keyframes flames {
	0% {
		background-position: top;
	}

	50% {
		background-position: bottom;
	}

	100% {
		background-position: top;
	}
}

@keyframes adjust {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/* mobile */
.home {
	.landing {
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		background-image: linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0.1),
				rgba(0, 0, 0, 0.9)
			),
			url("../../assets/band_on_stage_mobile.jpg");
		background-size: cover;
		background-repeat: no-repeat;

		.home__title {
			/* display: block; */
			/* width: 100%; */
			/* height: 100%; */
			font-family: "Metal Mania", system-ui;
			background-image: url("../../assets/flame.jpg");
			background-size: cover;
			font-size: 6rem;
			background-clip: text;
			color: transparent;
			text-align: center;
			-webkit-text-stroke: 1px yellow;
			padding: 1rem 3rem;
			margin-bottom: 7rem;
			animation: flames 8s linear infinite;
		}
	}

	.tour {
		.tour-card {
			.tour-city {
			}
			.tour-date {
			}
			.tour-info {
			}
			.tour-cta {
			}
		}
	}

	.flames {
		.flames-container {
		}
	}
}

/* desktop */
@media screen and (min-width: 450px) {
	.home {
		.landing {
			width: 100vw;
			height: 100vh;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			background-image: linear-gradient(
					to bottom,
					rgba(255, 255, 255, 0.1),
					rgba(0, 0, 0, 0.9)
				),
				url("../../assets/band_on_stage.png");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			/* background-attachment: fixed; */

			.home__title {
				/* display: block; */
				/* width: 100%; */
				/* height: 100%; */
				font-family: "Metal Mania", system-ui;
				background-image: url("../../assets/flame.jpg");
				background-size: cover;
				/* background-position: center; */
				font-size: 12rem;
				background-clip: text;
				color: transparent;
				text-align: center;
				-webkit-text-stroke: 1px yellow;
				padding: 1rem 3rem;
				/* margin-bottom: 7rem; */
				animation: flames 8s linear infinite;
			}
		}
		.tour {
			min-height: 70vh;
			width: 100%;
			background-color: #000;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			/* min-width: 96rem; */
			gap: 3rem;
			flex-wrap: wrap;

			.tour-title {
				font-family: "Metal Mania", system-ui;
				background-image: url("../../assets/flame.jpg");
				background-size: cover;
				/* background-position: center; */
				font-size: 5rem;
				background-clip: text;
				color: transparent;
				text-align: center;
				-webkit-text-stroke: 1px yellow;
				letter-spacing: 0.3rem;
				margin: 4rem 0;
				animation: flames 3s linear infinite;
			}

			.tour-container {
				display: flex;
				flex-wrap: wrap;
				gap: 3rem;

				.tour-card {
					flex: 1;
					min-width: 25%;
					margin: 1rem;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					/* transition: 3s; */
					border: 1px solid #fff;
					border-radius: 2rem;
					padding: 5rem;
					/* margin: 8rem; */

					.tour-city {
						text-transform: uppercase;
						font-size: 4rem;
						margin-bottom: 2rem;
						text-align: center;

						.fire {
							display: inline;
							width: 3rem;
							height: 3rem;
						}
					}
					.tour-date {
						text-align: center;
						font-size: 2rem;
						margin-bottom: 1.5rem;
					}
					.tour-info {
						text-align: center;
						font-size: 2rem;
						margin-bottom: 1.2rem;
					}
					.tour-cta {
						padding: 1rem 2rem;
						border: 1px solid #fff;
						cursor: pointer;
						border-radius: 1rem;
						text-transform: uppercase;
						font-size: 2rem;
						color: #000;
						background-color: #fff;
					}

					.tour-cta:hover {
						color: #fff;
						background: none;
					}
				}
			}
		}

		.flames {
			height: 50vh;
			background-color: #000;

			.flames-container {
				object-fit: cover;
				/* height: 100%; */
				background-image: linear-gradient(to bottom, rgba(0, 0, 0,.1), rgb(0, 0, 0, .1), rgb(0, 0, 0)) ,url("../../assets/fire-bg.jpg");
				height: 100%;
				background-position: bottom;
				background-size: cover;
			}
		}

		.album {
			height: 100vh;
			width: 100%;
			background-color: #000;
			display: flex;
			flex-direction: column;
			background-image: url('../../assets/album-bg.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			
			
			.album-title {
				font-family: "Metal Mania", system-ui;
				background-image: url("../../assets/flame.jpg");
				background-size: cover;
				/* background-position: center; */
				font-size: 5rem;
				background-clip: text;
				color: transparent;
				text-align: center;
				-webkit-text-stroke: 1px yellow;
				letter-spacing: 0.3rem;
				padding: 5rem;
				/* margin: 4rem 0; */
				display: flex;
				justify-content: center;
				gap: 4rem;
				animation: flames 3s linear infinite;
				transition: .3s;
				.fingers {
					animation: adjust 2s linear infinite;
				}
			}
			.album-cover {
				width: 50rem;
				height: 50rem;
				margin: 2rem auto;
				box-shadow: 0 0 2rem yellow;
			}
		}
	}
}
