@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Sometype Mono", monospace;
  /* background-color: #000; */
  /* overflow: hidden; */
}

html {
	font-size: 62.5%;
}

a {
  color: #fff;
  text-decoration: none;
}